body{
  margin-top: 76px;
}

/*Nav logo positioning*/
.nav-logo {
  height: 60px;
  width: 60px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.small-brand {
  left: 50px;
  bottom: -120%;
  position: static;
  height: 60px;
  width: 60px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5;
  }

.card .carousel-item {
  height: 200px;
}

#contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/bikeTrail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#bikes {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/bikesOnRack.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#bikes .btn{
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
}

#bikes .dropdown{
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100%;
}

li{
  list-style-type: none;
}

.quote{
  padding: 1rem;
}

.service-section{
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/bikeShopWorkBench.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/*Positioning text over carousel images*/
.text-overlay{
  top: 20%;
}

/*Overlay on carousel images*/
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.55);
}

#fittings .col-md-7, #accessories .col-md-7{
  padding: 0;
}


.service-header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(/images/bikeShopWorkBench.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.fitting-header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(/images/bikeShopWorkBench.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}


 /*BRANDS PAGE*/

 #brands img {
   max-width: 250px;
   padding: 1rem;
 }

 .brands-header{
   background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(/images/bikeShopWorkBench.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
 }

/*ROAD PAGE*/

.road-header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(/images/bikeShopWorkBench.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.road-race{
  background-image: url(/images/orbeaRoad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.road-sport{
  background-image: url(/images/orbeaSport.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.road-tri{
  background-image: url(/images/orbeaTri.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.road-enduroad{
  background-image: url(/images/gtEnduroad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.road-cross{
  background-image: url(/images/jamisCyclocross.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

#road-bikes{
  background-color: lightgrey;
}


/*MOUNTAIN PAGE*/

.mountain-enduro{
  background-image: url(/images/jamisCyclocross.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.mountain-xc{
  background-image: url(/images/jamisCyclocross.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.mountain-dh{
  background-image: url(/images/jamisCyclocross.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.mountain-dj{
  background-image: url(/images/jamisCyclocross.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.mountain-fr{
  background-image: url(/images/jamisCyclocross.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.mountain-ss{
  background-image: url(/images/jamisCyclocross.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

/*CUSTOM BIKES*/

.custom-khs-sixfifty{
  background-image: url(/images/custom-khs-sixfifty.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.custom-diety{
  background-image: url(/images/custom-diety.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.custom-transition-double{
  background-image: url(/images/custom-transition-double.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.custom-felt{
  background-image: url(/images/custom-felt.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.custom-cainfeild-jedi{
  background-image: url(/images/custom-cainfeild-jedi-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.custom-cainfeild-yelli{
  background-image: url(/images/custom-cainfeild-yelli.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.custom-khs-dj-white{
  background-image: url(/images/custom-khs-dj-white.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.custom-khs-purple{
  background-image: url(/images/custom-khs-purple.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.custom-khs-dj-black{
  background-image: url(/images/custom-khs-dj-black.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.custom-cainfeild-yelli-black{
  background-image: url(/images/custom-cainfeild-yelli-black.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.custom-voodoo{
  background-image: url(/images/custom-voodoo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.custom-cainfeild-yelli-orange{
  background-image: url(/images/custom-cainfeild-yelli-orange.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

  /*TEAM IMAGES IN ABOUT SETCTION*/

  .team-images {
    position: relative;
    /*max-width: 80%;*/
  }

  .team-images img {
  /*display: block;*/
  width: 300px;
  height: 300px;
}

  .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

.team-images:hover .overlay {
  opacity: 1;
}


/*MEDIA QUERRIES*/

@media screen and (min-width: 768px) {
  /*Nav logo positioning*/
.nav-logo {
  left: 50px;
  bottom: -120%;
  position: absolute;
  height: 120px;
  width: 120px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5;
  }
  body{
  margin-top: 56px;
  }
 }
